<!DOCTYPE html>
<html>
<head>
	<title>Order Form</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-color: #f2f2f2;
		}
		
		.order-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			max-width: 400px;
			width: 100%;
		}
		
		.order-total {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
			text-align: center;
		}
		
		.order-button {
			padding: 10px 20px;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			cursor: pointer;
			transition: all 0.3s ease;
		}
		
		.order-button:hover {
			background-color: #2E8B57;
		}
		
		@media screen and (max-width: 600px) {
			.order-box {
				max-width: 300px;
			}
		}
	</style>
</head>
<body>
	<div class="order-box">
		<div class="order-total">Order Total:<label id="hereprice"><%=cost%></label></div>
        <button id="rzp-button1" class="order-button">Place Order</button>
	</div>
   
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>




</form>



</div>

<script>

document.getElementById('rzp-button1').onclick = async function(e){
e.preventDefault();

let response=await fetch("http://localhost:3000/payment",{ //await
method:"POST",
headers:{
    "Content-Type": "application/json"
},
body: JSON.stringify({
    amount:500,
})

})
let orderData=await response.json();

var options = {
    "key": "rzp_test_1rLEeNbKHL6UyZ", // Enter the Key ID generated from the Dashboard
    "amount": Number(document.getElementById("hereprice").textContent)*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "E-commerce",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert("jai hoooooo");
        // alert(response.razorpay_payment_id);
        fetch('/placeorderform',{method:'get'})
        .then(response=>response.text())
        .then((data)=>{
            console.log(data)
        })
		.then(()=>{
			window.location.href ='/success'
		})

    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
alert(response.error.code);
alert(response.error.description);
alert(response.error.source);
alert(response.error.step);
alert(response.error.reason);
alert(response.error.metadata.order_id);
alert(response.error.metadata.payment_id);
});



rzp1.open();
}


fetch('/cart',{method:'get'})
.then(()=>{
console.log('vaibhav jinda bad')
})
</script>



</body>

</html>